  <html ng-app='bakpak'>
    <head>
      <title> BakPak </title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
      <link type="text/css" rel="stylesheet" href="/public/css/page.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet">

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    </head>

    <body ng-controller="exploreController">

      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="/public/js/materialize.min.js"></script>

      <nav>
        <div id=navbar class="nav-wrapper blue-grey darken-3">
          <!-- <a href='#!'> <img src="./public/css/logo_front.png" class="responsive-img" style="width: 90px"> </a> -->
            <ul id="nav-mobile" class="right">
              <li ><a href="/#!">HOME</a></li>
              <li ><a href="/#login" ng-show="true">LOGIN</a></li>
              <li ><a href="" ng-show="false">LOGOUT</a></li>
            </ul>
        </div>
      </nav>
     <!--  <div class="container" id="inputarea">
        <LABEL id="label">Where are we going?</LABEL>
          <div class="center-align">
            <input id="input" type="text" ng-model='city' placeholder="Example: San Francisco, CA" />
              <a href="/#/explore" class="waves-effect waves-light btn" ng-click='weatherApi(); restaurantsApi(); artsApi(); promosApi(); eventsApi(); imagesApi()'> EXPLORE </a>
              <a href="/#/reserve" class="waves-effect waves-light btn" ng-click="hotelsApi(); imagesApi()">RESERVE </a>
          </div>
      </div> -->
      </br>
      <div ng-view></div>
      <script src="/public/app.js"></script>
      <script src="/public/bakpakexplore.js"></script>
    </body>
  </html>
        