html {
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
  min-height: 100%; 
  background-image: url("bg.png");
  font-family: 'Lato', sans-serif;
}
body {
  background-size: cover;                      
  background-position: center center;
}

a {
  color: black;
}
select {
  margin-bottom: 8px;
}
#spacer {
  margin-bottom: 10px;
}
#body {
  background-color: #b4dcc0;
}
#navbar {
  background-color: #0c6950;
  text-decoration: none;
  font-size: 130%;
}
#navbar li {
  position: relative;
  right: 20px;
}
#logo {
  height: 95%;
  width: 12%;
}
#filler {
  height: 60%;
  width: 60%;
}
#search {
  background-color: white;
  color: black;
  padding-left: 5px;
  margin-top: 7px;
}
#input {
  background-color: white;
  border-radius: 4px;
  padding-left: 8px;
  color: #464a51;
}

#label {
  font-family: 'sansblack';
  font-size: 130%;
  color: #464a51;
}
#label2 {
  font-family: 'sansblack';
  font-size: 130%;
  color: #464a51;
}
#left {
  margin-right: 10px;
}
.label {
  font-family: 'sansblack';
}
.explore {
  background-color: rgba(238, 251, 244, 0.8);
  margin-right: 20px;
  padding-bottom: 5px;
  position: relative;
}
.explore2 {
  background-color: rgba(238, 251, 244, 0.8);
}

.google:hover{
  color: blue;
}
.icon {
  position: absolute;
  right: 5;
  height: 50px;
  width: 50px;
}
@font-face {
    font-family: 'sansblack';
    src: url('NexaRustSans-Black-Free-webfont.eot');
    src: url('NexaRustSans-Black-Free-webfont.eot?#iefix') format('embedded-opentype'),
         url('NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
         url('NexaRustSans-Black-Free-webfont.woff') format('woff'),
         url('NexaRustSans-Black-Free-webfont.ttf') format('truetype'),
         url('NexaRustSans-Black-Free-webfont.svg#nexa_rust_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

#logo{
  height: 188px;
  width: 450px
}

#sub_text{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

/* label focus color */
 .input-field input:focus + label {
   color: #37474f !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #37474f !important;
   box-shadow: 0 1px 0 0 #37474f !important
 }
