<div class="container" ng-controller='searchBar'>
  <div class="row">
  <br><br><br><br>
    <div class="center-align">

    <i class="material-icons blue-grey-text text-grey text-darken-3">room</i><LABEL id="label" class="blue-grey-text text-grey text-darken-3">WHERE ARE WE GOING?<br></LABEL><br>
    </div>
    <div class="input-field col m6 l12 center-align">
      <input id="input" type="text" ng-change='test()' ng-model='city' placeholder="Example: San Francisco, CA" />
        <a href="/#/explore" class="waves-effect waves-light btn blue-grey darken-3"> EXPLORE </a>
        <a href="/#/reserve" class="waves-effect waves-light btn blue-grey darken-3">RESERVE </a>
    </div>
  </div> 
</div> 

<!-- explore = ng-click='weatherApi(); restaurantsApi(); artsApi(); promosApi(); eventsApi(); imagesApi()' -->
<!-- reserve = ng-click="hotelsApi(); imagesApi()" -->